@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
}

::selection {
  background: #fff;
  color: #000;
}
@layer components {
  .main-headline {
    font-size: clamp(3.25rem, 2.159rem + 5.45vw, 6.25rem);
  }
}

body {
  @apply min-h-screen min-h-screen-ios h-screen-ios;
  background-color: #99e4ff;
  background-image: radial-gradient(at 99% 66%, hsla(148, 86%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 63% 38%, hsla(165, 80%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 7%, hsla(241, 71%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 25%, hsla(330, 80%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 15% 91%, hsla(89, 61%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 41% 2%, hsla(52, 92%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 34%, hsla(82, 83%, 75%, 1) 0px, transparent 50%);
}
